<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <title>SmartLeaf</title>
    <link rel="icon" type="image/x-icon" href="/imgs/logo.png">
</head>
<body>
    <!-- Header start -->
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="/imgs/logo.png" alt="SmartLeaf Logo" height="50">
            <span class="fs-3 ms-2">Smart Leaf</span>
          </a>
    
          <ul class="nav nav-pills d-flex align-items-center">
            <li class="nav-item"><a href="/" class="nav-link text-success" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/panels" class="nav-link text-success">Paineis</a></li>
            <li class="nav-item"><a href="/sobre" class="nav-link text-success">Sobre</a></li>
            <li class="nav-item dropdown" id="admin-dropdown" style="display: none;">
              <button class="btn btn-dark dropdown-toggle text-success" data-bs-toggle="dropdown" aria-expanded="false">Admin</button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li class="nav-item" id="add-panel-li"><a href="/add-panel" class="text-success dropdown-item">Adicionar Painel</a></li>
                <li class="nav-item" id="logout-li"><a href="#" class="text-success dropdown-item">Logout</a></li>
              </ul>
            </li>
          </ul>
        </header>
      </div>