<%- include('partials/header.ejs') %>
    <div class="container" style="height: 50vh;">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center text-danger">404 Pagina não encontrada</h1>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>