<%- include("partials/header.ejs") %>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <img src="/imgs/bando_de_cabacos.jpeg" class="img-fluid shadow-lg">
            </div>
            <div class="col-lg-7">
                <div class="d-flex align-items-center flex-column my-3 px-4">
                    <h1 class="text-success">Sobre nós</h1>
                    <p class="text-center text-md-start">
                        Em um mundo cada vez mais consciente da necessidade de sustentabilidade, 
                        nosso projeto de energia sustentável se destaca ao unir consumo inteligente e a 
                        implementação de painéis solares. Este projeto visa não apenas reduzir a dependência de 
                        fontes de energia não-renováveis, mas também promover a eficiência energética e a autonomia 
                        dos consumidores.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="container px-4 py-5" id="featured-3">
            <h2 class="pb-2 border-top text-center pt-3">Benefícios do uso de Paineis Solares</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
                    <i class="fa-solid fa-leaf" style="color: #63E6BE;"></i>
                </div>
                <h3 class="fs-2 text-success">Economia Financeira</h3>
                <p>
                    Redução significativa nas contas de energia elétrica, com possibilidade de venda do 
                    excedente de energia gerada de volta para a rede.
                </p>
                
              </div>
              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
                    <i class="fa-solid fa-leaf" style="color: #63E6BE;"></i>
                </div>
                <h3 class="fs-2 text-success">Sustentabilidade Ambiental</h3>
                <p>
                    Menor dependência de combustíveis fósseis, contribuindo para a preservação ambiental e a 
                    sustentabilidade a longo prazo.
                </p>
              </div>
              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
                    <i class="fa-solid fa-leaf" style="color: #63E6BE;"></i>
                </div>
                <h3 class="fs-2 text-success">Independência Energética</h3>
                <p>
                    A adoção de painéis solares permite que os consumidores reduzam sua dependência das 
                    concessionárias de energia, garantindo maior segurança e estabilidade no fornecimento.
                </p>
              </div>
            </div>
          </div>

    </div>

<%- include("partials/footer.ejs") %>